// ============================================
// RESPONSIVE
// ============================================

@use 'reutilizables/config' as *;
@use 'reutilizables/mixins' as *;

@media (max-width: 768px) {
  .hero-buttons {
    flex-direction: column; 
  }

  .download-buttons {
    flex-direction: column !important;
    align-items: center; /* centro botones */

    .btn {
      width: 100%;
      max-width: 350px; /* límite máximo */
    }
  }

  .download-features {
    grid-template-columns: 1fr !important;
    gap: 0.75rem !important; /* Reducir espacio entre features */
    
    .feature {
      justify-content: center; /* Centrar contenido */
    }
  }
}